#play {
  position: fixed;
  top: 0;
  right: 0;
  background-color: yellow;
  text-align: center;
};


img{
  height: 35px;
  width: 55px;
};

button{
  height: 55px;
  width: 55;
}

#coolFun{
  height: 55px;
  width: 70px;
}

#playAmt{
  width: 200px;
  height: 10px;
  background-color: lightgray;
};
