@import '../javascripts/components/eat/eat.scss';
@import '../javascripts/components/fight/fight.scss';
@import '../javascripts/components/play/play.scss';
@import '../javascripts/components/sleep/sleep.scss';

.quad {
  width: 50%;
  height: 50%;
};

button{
  margin: 15px;
};